*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Encode Sans', sans-serif;
  
}

body{
  background-color: black;
}
.navSideLogo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0;
  width: 50%;

}

.footerSocials{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  

}
.footerSocials a{
  
  

  text-decoration: none;
}
.footerSocials i{
  color: white;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
  mix-blend-mode: screen;
  font-size: 55px;
}


@media screen and (max-width : 950px) {
  .footerSocials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    
  
  }
  .footerSocials img{
  width: 50% !important;
  filter: invert(1);
  margin: 0 auto !important;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}


}
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Playfair+Display:wght@700&display=swap');
h1{
  font-family: 'Cormorant', serif;
  font-size: 40px;
  font-weight: 700;
}
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');
p{
  line-height: 35px;
  font-size: 15px !important;
}

