*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Encode Sans', sans-serif;
  
}
nav img{
  width: 85%;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;

  margin: auto 0;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.logo a{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 15%;
}
body{
  background-color: black;
}
.navSideLogo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 0;
  width: 15%;

}
.navSideLogo a{
  display: flex;
  width: 5rem;
  height: 5rem;
  margin: auto 0;
}
.navSideLogo img{
  display: flex;
  margin: auto 0;
  width: 4rem;
  height: 4rem;
  border-radius: 20px;

}
.footerSocials{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  

}
.footerSocials img{
  width: 80%;
  filter: invert(1);
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}
@media screen and (max-width : 950px) {
  .footerSocials{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    
  
  }
  .footerSocials img{
  width: 50% !important;
  filter: invert(1);
  margin: 0 auto !important;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;
}
nav img{
  width: 100% !important;
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;

  /* Safari seems to support, but seems deprecated and does the same thing as the others. */
  image-rendering: -webkit-optimize-contrast;

  margin: auto 0;
}
.logo a{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 45%;
}

}
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Playfair+Display:wght@700&display=swap');
h1{
  font-family: 'Cormorant', serif;
  font-size: 40px;
  font-weight: 700;
}
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');
p{
  line-height: 35px;
  font-size: 15px !important;
}

@media screen and (max-width : 950px) {
  .navSideLogo{
    width: 40% !important;
    overflow-y: hidden;
  }
  nav img{
    width: 30%;
  }
  .navSideLogo a{
    width: 3rem ;
    height: 3rem;
  }
  .navSideLogo img{
    width: 3rem;
border-radius: 10px;

    height: 3rem;
    margin: auto;

  }
  
}